.line{
	display: inline-block;
	border-bottom: 1px solid black;
	width:100%;
}

.pedirCardapio{
    float: right;
	margin-top: 15px;
	font-size: 25px;
}

/*Div*/
#itemsCardapio{
    padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.cardapioItemDiv{
    display: none; /*block*/
    border: 0.5px solid black;
    animation: fadeEffect 2s;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgb(212, 206, 206);
}

.cardapioImg{
    margin:8px 8px;
    border: 0.5px solid black;
    height:50px;
    width:50px;
    float:left;
    border-radius: 2px;
}

.imgCardapio{
	width: 100%;
	height: 100%;
}

.cardapioDescDiv{
	border-top:0.5px solid #d9d9d9;
	height:30%;
	margin-left: 10px;
	margin-top:55px;
	margin-right:10px;
	margin-bottom:8px;
	overflow:auto;
	word-break: break-word;
	padding: 5px 5px;
}

.cardapioName{
	position: absolute;
	display:inline-block;
	padding-top:2px;
	padding-left:9px;
	font-size:20px;
	max-width: 60%;
}

.cardapioName p{
	word-break: break-word;
}


.cardapioTag{
	height:0%;
	margin-left: 10px;
	margin-right:10px;
	margin-bottom:10px;
	overflow:auto;
	word-break: break-word;
	padding: 5px 5px;
}

.cardapioPedir{
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}

.checkboxPedir{
    width: 25px;
    height: 25px;
}